* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'Circular Std Medium';
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
pre {
  width: 100%;
  box-sizing: border-box;
}

.list-none {
  list-style: none;
}

[hidden] {
  display: none !important;
}

.size {
  width: 1200px;
  max-width: 90%;
}

.margin {
  margin: 0 auto;
}

.example {
  padding-top: 50px;
  padding-bottom: 50px;
}
