.btn {
  min-height: 40px;
  line-height: 40px;
  display: inline-block;
  white-space: nowrap;
  padding: 10px 15px;
  outline: none;
  margin: 2px;
  text-align: center;
  background: #ddd;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: .1s;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  border-radius: 3px;
  // min-width: 100px;
    &:hover {
      filter: brightness(90%);
    }
}
.btn.btn-small {
  min-height: 30px;
  line-height: 25px;
  padding: 5px 15px;
  font-size: 12px;

}
.btn.btn-large {
  min-height: 60px;
  line-height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 22px;
  font-weight: 800
}


.btn.primary {
  background: #50fa7b;
  color: #fff;
    &:hover {
      background: #4cd46f;
    }
}

.btn.danger {
  background: #f2405d;
  color: #fff;
  &:hover {
    background: #c83f55;
  }
}

.btn.warning {
  background: #ffb721;
  color: #fff;
}
