//color

.color-primary {
  color: #50fa7b;
}

.color-danger {
  color: #f2405d;
}

.color-black {
  color: #000;
}

.color-grey {
  color: #b3b3b3;
}

.color-light-grey {
  color: #e2e2e2;
}

.color-white {
  color: #fff;
}
//background

.background-primary {
  background: #50fa7b;
}

.background-danger {
  background: #f2405d;
}

.background-black {
  background: #000;
}

.background-grey {
  background: #b3b3b3;
}

.background-light-grey {
  background: #e2e2e2;
}

.background-white {
  background: #fff;
}
