@font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black'), url('~assets/fonts/circular/CircularStd-Black.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book'), url('~assets/fonts/circular/CircularStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium'), url('~assets/fonts/circular/CircularStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black Italic'), url('~assets/fonts/circular/CircularStd-BlackItalic.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Bold'), url('~assets/fonts/circular/CircularStd-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Bold Italic'), url('~assets/fonts/circular/CircularStd-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book Italic'), url('~assets/fonts/circular/CircularStd-BookItalic.woff') format('woff');
}
@font-face {
  font-family: 'Circular Std Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium Italic'), url('~assets/fonts/circular/CircularStd-MediumItalic.woff') format('woff');
}
@import 'base/text';
@import 'base/base';
@import 'base/colors';
@import 'base/shadow';
@import 'base/space';
@import 'base/buttons';

[v-cloak] {
  display: none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr,
.hljs-template-variable,
.hljs-variable {
  color: #008080;
}

.hljs-doctag,
.hljs-string {
  color: #d14;
}

.hljs-section,
.hljs-selector-id,
.hljs-title {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type {
  color: #458;
  font-weight: bold;
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: #000080;
  font-weight: normal;
}

.hljs-link,
.hljs-regexp {
  color: #009926;
}

.hljs-bullet,
.hljs-symbol {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
